<footer style="background-color: gray;">
    <div>
        <div id="logobox" class="col-sm-4">
            <img src="images/mojang.jpg" alt="mojang logo" id="img">
            <img src="images/xbox.png" alt="xbox logo" id="img">
            <img src="images/microsoft.png" alt="microsoft logo" id="img">
        </div>
    </div>
</footer>
